*{
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
  overflow: hidden;
}


h4{
  font-size: 2rem;
  margin: 0px;
}

.htomove{
  display: flex;
  position: absolute;
  margin-left: 0px;
  top: 0px;
  margin-top: 4px;
  background: rgba(0,0,0,0.7);
  color: white;
  opacity: 1;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 12px 4px 12px; 
}
.gobuttongo{
  position: absolute;
  top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 24px;
  font-weight: 300;
}

.content li:hover {
  cursor: pointer;
}
  
.content li:nth-child(1) .card-back, .content li:nth-child(9) .card-back {
  background: #7F1743;
}
.content li:nth-child(2) .card-back {
  background: #22cfda;
}
.content li:nth-child(3) .card-back {
  background: #162b53;
}
.content li:nth-child(4) .card-back {
  background: #ee2ca3;
}
.content li:nth-child(5) .card-back {
  background: #d0ce06;
}
.content li:nth-child(6) .card-back {
  background: #7381a8;
}
.content li:nth-child(7) .card-back {
  background: #da222b;
}
.content li:nth-child(8) .card-back {
  background: #f07938;
}
.content li:first-child, .content li:last-child {
  background-color: #151515;
}
.content .card-front,
.content .card-back {
  text-align: center;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.content .card-front {
  -moz-transform: perspective(1000) rotateX(0);
  -webkit-transform: perspective(1000) rotateX(0);
  transform: perspective(1000) rotateX(0);
  z-index: 900;
  border: 2px solid white;
}
.content .card-back {
  -moz-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  z-index: 800;
}

.responsive {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  color: white;
    font-family: 'Source Sans Pro',sans-serif;
      background: #212121;
}

.content {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content li {
  float: left;
  width: 33.2%;
  height: 25%;
  position: relative;
}

.active {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #7F1743;
  overflow: hidden;
}
.active .all-content {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  "area-titular area-of-image"
  "area-textual area-of-image";
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0px;
  background-color: white;
}
.area-titular{
  padding: 4% 6% 0% 6%;
  grid-area: area-titular;
  color: #272727;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1em;
}
.area-textual{
  grid-area: area-textual;
  color:#272727;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 300;
    padding: 4% 6% 0% 6%;
}
.area-of-image{
  grid-area: area-of-image;
  object-fit: cover;
}
.content li:hover .card-front {
    animation: frontgoes 0.8s cubic-bezier(0.1,0.01,0.2,0.7) 1 forwards;
}
.content li:hover .card-back{
    animation: backcomes 0.8s cubic-bezier(0.1,0.01,0.2,0.8) 1 forwards;
}
@keyframes frontgoes{
  from{width: 100%; border: 2px solid white;}
  to{width: 0%; border: 0px;}
}
@keyframes backcomes{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

.close {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 48px;;
  background: #272727;
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid #111;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.close:hover {
  background: #fe4a49;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px 20px;
  border: 1px solid white;
}
@media screen and (min-width: 440px) and (max-width: 750px) {
  .content li {
    width: 33.1%;
  }
  .area-titular{
    padding: 32px 16px 0px 8px;
  }
  .active .all-content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background-color: white;
}
}
@media (max-width: 439px) {
  .content li {
    width: 50%;
  }
  .active .all-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr;
    grid-template-areas:
      "area-titular"
      "area-textual"
      "area-of-image";
    overflow-y: scroll;
  }
  .area-titular{
  padding: 5% 5% 0% 5%;
    font-size: 1.6rem;
    width: 80%;
  }
  .area-textual{
    font-size: 1.125rem;
    line-height: 1.25em;
    padding: 5%
  }
  .close {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;;
  background: #272727;
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid #111;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
  .responsive{
    overflow-y: scroll;
  }
  .content{
    overflow-y: scroll;
  }
  .area-of-image{
    overflow: hidden;
  }
  .content .card-front{
    border: 1px solid white;
  }
  .htomove{
    font-size: 90%;
  }
    
}
@media (max-height: 450px) {
  .content li {
    width: 33%;
  }
}
#itis-gobuttongo1, #itis-gobuttongo2{
  padding: 4px 16px;
  margin: 12px 0px 0px 12px;
  background-color: white;
  color: #272727;
  width: 50%;
  transition: all 0.3s ease-out;
  text-align: center;
}
#itis-gobuttongo1:hover, #itis-gobuttongo2:hover{
  background-color: #fe4a49;
  color: white;
  border: 1px solid white;
  transform: scale(1.1);
}
  
/**
*
* Animate.css
* From : https://daneden.me/animate/
*
**/
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(0.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(-30px);
  }
  80% {
    -o-transform: translateY(10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }
  80% {
    -moz-transform: translateX(-10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }
  80% {
    -o-transform: translateX(-10px);
  }
  100% {
    -o-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
  }
  80% {
    -moz-transform: translateX(10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes bounceInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(-30px);
  }
  80% {
    -o-transform: translateX(10px);
  }
  100% {
    -o-transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateIn {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  -moz-animation-name: rotateIn;
  -o-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateInUpLeft {
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  -moz-animation-name: rotateInUpLeft;
  -o-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInDownLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateInDownLeft {
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  -moz-animation-name: rotateInDownLeft;
  -o-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateInUpRight {
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  -moz-animation-name: rotateInUpRight;
  -o-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}

@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInDownRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateInDownRight {
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  -moz-animation-name: rotateInDownRight;
  -o-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}
