@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  top: 0;
  left: 0;
}

img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  overflow: hidden;
}

.rta-primarytext {
  color: #fe4a49;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 300;
}

.bigp {
  font-size: 1.25rem;
  font-weight: 300;
}

em {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4em;
  margin: 16px 0px 0px 0px;
}

h1 {
  font-size: 5.4rem;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0;
}
h2{
  font-size: 3.2rem;
  margin: 0px;

}
h3{
  font-size: 2.4rem;
  margin: 0px;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
h6{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  color: #272727;
  line-height: 2em;
}
ul{
  margin: 0px;
  padding: 0px;
}
li{
  margin: 0px;
  padding: 0px;
}
.rta-maincontainer {
  display: grid;
  margin: 0px;
  padding: 0px;
}
.rta-gridbox{
  display: grid;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  justify-content: start;
  justify-content: start;
}
.rta-gridbox-menu{
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "rta-sidemenu rta-gridbox-main";
  gap: 0px 0px;
  height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #272727;
}
.rta-sidemenu{
  display: grid;
  grid-area: rta-sidemenu;
  height: 100vw;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #272727;
  justify-content: stretch;
}
.rta-gridbox-main{
  display: grid;
  grid-area: rta-gridbox-main;
  height: 100vw;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  border: 1px solide red;

}

.rta-blankbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "area-blankbox";
  height: 100vh;
  width: 100vw;
  margin: 0px;
  align-items: start;
  align-content: start;
  justify-content: start;
  justify-items: start;
  padding: 0px;
  gap: 0px 0px;
}
.rta-2row10{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  "rta-2row10-10"
  "rta-2row10-90";
  gap: 0px 0px; 
  padding: 0px;
  margin: 0px;
}
.rta-2row10-10{
  grid-area: rta-2row10-10;
}
.rta-2row10-90{
  grid-area: rta-2row10-90;
}
.rta-2col65{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
  "rta-2col65-1 rta-2col65-2";
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  align-items: start;
  align-content: start;
}
.rta-2col65-1{
  display: grid;
  grid-area: rta-2col65-1;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  align-items: start;
  align-content: start;
}
.rta-2col65-2{
  display: grid;
  grid-area: rta-2col65-2;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.rta-2col40 {
  display: grid;
  grid-template-columns: 0.5fr 1.1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "rta-2col40-one rta-2col40-two";
  gap: 0px 0px;

}

.rta-2col40-one {
  display: grid;
  grid-area: rta-2col40-one;
  text-align: left;
  align-items: start;
  align-content: start;
  padding: 64px 16px 16px 48px;
}

.rta-2col40-two {
  display: grid;
  grid-area: rta-2col40-two;
  text-align: left;
  align-items: start;
  align-content: start;
  margin-right: 32px;
  max-width: 92%;
  object-fit: cover;
  align-items: stretch;
  align-content: stretch;
}

.rta-2col75 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "area-2col75-one area-2col75-two";
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.rta-2col75-one {
  display: grid;
  grid-area: area-2col75-one;
  height: 99%;
}

.rta-2col75-two {
  display: grid;
  grid-area: area-2col75-two;
  height: 99%;
}

/*mobiles*/
@media screen and (max-width: 480px) {
  em {
    font-size: 1.1em;
  }

  .rta-2col75 {
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-template-areas:
      "area-2col75-one"
      "area-2col75-two";
    height: 100vh;
    gap: 0px 0px;
    overflow-y: scroll;
  }

  .rta-2col75-one {
    max-width: 100%;
    grid-area: area-2col75-one;
  }

  .rta-2col75-two {
    max-width: 100%;
    grid-area: area-2col75-two;

  }
}

/*mobiles to tabs*/
@media only screen and (min-width: 481px) and (max-width: 672px) {
  em {
    font-size: 1.125rem;
  }

  .rta-2col75 {
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    grid-template-areas:
      "area-2col75-one"
      "area-2col75-two";
    max-height: 100vh;
    gap: 0px 0px;
    overflow-y: scroll;
  }

  .rta-2col75-one {
    max-width: 100%;
    grid-area: area-2col75-one;
  }

  .rta-2col75-two {
    max-width: 100%;
    grid-area: area-2col75-two;
  }
}

/*tabs to pc*/
@media only screen and (min-width: 673px) {
  em {
    font-size: 1.25em;
  }

  .rta-2col75 {
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1;
    grid-template-areas:
      "area-2col75-one area-2col75-two";
    max-height: 100vh;
    gap: 0px 0px;
    overflow: hidden;
  }

  .rta-2col75-one {
    max-width: 100%;
    height: 100vh;
    grid-area: area-2col75-one;
  }

  .rta-2col75-two {
    max-width: 100%;
    height: 100vh;
    grid-area: area-2col75-two;
  }
}

@keyframes titlebirth{
  from{margin-left: -300px; opacity: 0;}
  to{margin-left: 0px; opacity: 1;}
}
@keyframes parabirth{
  from{width: 0%;opacity: 0;}
  to{width: 60%;opacity: 1;}
}

/***************************************************
 * Generated by SVG Artista on 10/30/2022, 4:14:30 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 9.24616813659668px;
    stroke-dasharray: 9.24616813659668px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.24616813659668px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 9.24616813659668px;
    stroke-dasharray: 9.24616813659668px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.24616813659668px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                       animate-svg-fill-1 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.8s both;
          animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
               animate-svg-fill-1 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 9.246145725250244px;
    stroke-dasharray: 9.246145725250244px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.246145725250244px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 9.246145725250244px;
    stroke-dasharray: 9.246145725250244px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.246145725250244px;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                       animate-svg-fill-2 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.9s both;
          animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
               animate-svg-fill-2 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 6.525136947631836px;
    stroke-dasharray: 6.525136947631836px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6.525136947631836px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 6.525136947631836px;
    stroke-dasharray: 6.525136947631836px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6.525136947631836px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
                       animate-svg-fill-3 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s both;
          animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
               animate-svg-fill-3 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 9.243042945861816px;
    stroke-dasharray: 9.243042945861816px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.243042945861816px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 9.243042945861816px;
    stroke-dasharray: 9.243042945861816px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.243042945861816px;
  }
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
                       animate-svg-fill-4 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.1s both;
          animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
               animate-svg-fill-4 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.1s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 5.1575329303741455px;
    stroke-dasharray: 5.1575329303741455px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 5.1575329303741455px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 5.1575329303741455px;
    stroke-dasharray: 5.1575329303741455px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 5.1575329303741455px;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
                       animate-svg-fill-5 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.2000000000000002s both;
          animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
               animate-svg-fill-5 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 8.29224681854248px;
    stroke-dasharray: 8.29224681854248px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.29224681854248px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 8.29224681854248px;
    stroke-dasharray: 8.29224681854248px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.29224681854248px;
  }
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
                       animate-svg-fill-6 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.3s both;
          animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
               animate-svg-fill-6 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.3s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2698.810302734375px;
    stroke-dasharray: 2698.810302734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2698.810302734375px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2698.810302734375px;
    stroke-dasharray: 2698.810302734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2698.810302734375px;
  }
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
                       animate-svg-fill-7 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.4000000000000001s both;
          animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
               animate-svg-fill-7 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 9.246167182922363px;
    stroke-dasharray: 9.246167182922363px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.246167182922363px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 9.246167182922363px;
    stroke-dasharray: 9.246167182922363px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.246167182922363px;
  }
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
                       animate-svg-fill-8 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.5s both;
          animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
               animate-svg-fill-8 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.5s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 36.691627502441406px;
    stroke-dasharray: 36.691627502441406px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.691627502441406px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 36.691627502441406px;
    stroke-dasharray: 36.691627502441406px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.691627502441406px;
  }
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
                       animate-svg-fill-9 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.6s both;
          animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
               animate-svg-fill-9 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.6s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 36.691890716552734px;
    stroke-dasharray: 36.691890716552734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.691890716552734px;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 36.691890716552734px;
    stroke-dasharray: 36.691890716552734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.691890716552734px;
  }
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
                       animate-svg-fill-10 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.7000000000000002s both;
          animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
               animate-svg-fill-10 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 36.690574645996094px;
    stroke-dasharray: 36.690574645996094px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.690574645996094px;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 36.690574645996094px;
    stroke-dasharray: 36.690574645996094px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.690574645996094px;
  }
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
                       animate-svg-fill-11 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.8s both;
          animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
               animate-svg-fill-11 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.8s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 36.691890716552734px;
    stroke-dasharray: 36.691890716552734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.691890716552734px;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 36.691890716552734px;
    stroke-dasharray: 36.691890716552734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.691890716552734px;
  }
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
                       animate-svg-fill-12 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.9000000000000001s both;
          animation: animate-svg-stroke-12 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
               animate-svg-fill-12 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.9000000000000001s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 36.69105529785156px;
    stroke-dasharray: 36.69105529785156px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69105529785156px;
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 36.69105529785156px;
    stroke-dasharray: 36.69105529785156px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69105529785156px;
  }
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
                       animate-svg-fill-13 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s both;
          animation: animate-svg-stroke-13 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
               animate-svg-fill-13 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s both;
}

@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 36.69340515136719px;
    stroke-dasharray: 36.69340515136719px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69340515136719px;
  }
}

@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 36.69340515136719px;
    stroke-dasharray: 36.69340515136719px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69340515136719px;
  }
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
                       animate-svg-fill-14 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.1s both;
          animation: animate-svg-stroke-14 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
               animate-svg-fill-14 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.1s both;
}

@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 36.69261169433594px;
    stroke-dasharray: 36.69261169433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69261169433594px;
  }
}

@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 36.69261169433594px;
    stroke-dasharray: 36.69261169433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69261169433594px;
  }
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
                       animate-svg-fill-15 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.2s both;
          animation: animate-svg-stroke-15 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
               animate-svg-fill-15 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.2s both;
}

@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 36.693050384521484px;
    stroke-dasharray: 36.693050384521484px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.693050384521484px;
  }
}

@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 36.693050384521484px;
    stroke-dasharray: 36.693050384521484px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.693050384521484px;
  }
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
                       animate-svg-fill-16 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.3s both;
          animation: animate-svg-stroke-16 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
               animate-svg-fill-16 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.3s both;
}

@-webkit-keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 36.69086456298828px;
    stroke-dasharray: 36.69086456298828px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69086456298828px;
  }
}

@keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 36.69086456298828px;
    stroke-dasharray: 36.69086456298828px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 36.69086456298828px;
  }
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-stroke-17 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s both,
                       animate-svg-fill-17 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.4000000000000004s both;
          animation: animate-svg-stroke-17 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s both,
               animate-svg-fill-17 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 74.2966537475586px;
    stroke-dasharray: 74.2966537475586px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 74.2966537475586px;
  }
}

@keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 74.2966537475586px;
    stroke-dasharray: 74.2966537475586px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 74.2966537475586px;
  }
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-stroke-18 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both,
                       animate-svg-fill-18 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.5s both;
          animation: animate-svg-stroke-18 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both,
               animate-svg-fill-18 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.5s both;
}

@-webkit-keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 395.3255310058594px;
    stroke-dasharray: 395.3255310058594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 395.3255310058594px;
  }
}

@keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 395.3255310058594px;
    stroke-dasharray: 395.3255310058594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 395.3255310058594px;
  }
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-stroke-19 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s both,
                       animate-svg-fill-19 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.6s both;
          animation: animate-svg-stroke-19 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s both,
               animate-svg-fill-19 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.6s both;
}

@-webkit-keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 221.62034606933594px;
    stroke-dasharray: 221.62034606933594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 221.62034606933594px;
  }
}

@keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 221.62034606933594px;
    stroke-dasharray: 221.62034606933594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 221.62034606933594px;
  }
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 74, 73);
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-stroke-20 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both,
                       animate-svg-fill-20 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.7s both;
          animation: animate-svg-stroke-20 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both,
               animate-svg-fill-20 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.7s both;
}

@-webkit-keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 395.1150817871094px;
    stroke-dasharray: 395.1150817871094px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 395.1150817871094px;
  }
}

@keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 395.1150817871094px;
    stroke-dasharray: 395.1150817871094px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 395.1150817871094px;
  }
}

@-webkit-keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-stroke-21 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both,
                       animate-svg-fill-21 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.8s both;
          animation: animate-svg-stroke-21 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both,
               animate-svg-fill-21 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.8s both;
}

@-webkit-keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 335.9666748046875px;
    stroke-dasharray: 335.9666748046875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 335.9666748046875px;
  }
}

@keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 335.9666748046875px;
    stroke-dasharray: 335.9666748046875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 335.9666748046875px;
  }
}

@-webkit-keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-stroke-22 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s both,
                       animate-svg-fill-22 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.9000000000000004s both;
          animation: animate-svg-stroke-22 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s both,
               animate-svg-fill-22 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.9000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 279.05999755859375px;
    stroke-dasharray: 279.05999755859375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 279.05999755859375px;
  }
}

@keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 279.05999755859375px;
    stroke-dasharray: 279.05999755859375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 279.05999755859375px;
  }
}

@-webkit-keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-stroke-23 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s both,
                       animate-svg-fill-23 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both;
          animation: animate-svg-stroke-23 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s both,
               animate-svg-fill-23 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both;
}

@-webkit-keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 82.10134887695312px;
    stroke-dasharray: 82.10134887695312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 82.10134887695312px;
  }
}

@keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 82.10134887695312px;
    stroke-dasharray: 82.10134887695312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 82.10134887695312px;
  }
}

@-webkit-keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-stroke-24 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s both,
                       animate-svg-fill-24 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.1000000000000005s both;
          animation: animate-svg-stroke-24 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s both,
               animate-svg-fill-24 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.1000000000000005s both;
}

@-webkit-keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 104.78722381591797px;
    stroke-dasharray: 104.78722381591797px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 104.78722381591797px;
  }
}

@keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 104.78722381591797px;
    stroke-dasharray: 104.78722381591797px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 104.78722381591797px;
  }
}

@-webkit-keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-stroke-25 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s both,
                       animate-svg-fill-25 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.2s both;
          animation: animate-svg-stroke-25 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s both,
               animate-svg-fill-25 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.2s both;
}

@-webkit-keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 95.87641906738281px;
    stroke-dasharray: 95.87641906738281px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 95.87641906738281px;
  }
}

@keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 95.87641906738281px;
    stroke-dasharray: 95.87641906738281px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 95.87641906738281px;
  }
}

@-webkit-keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-stroke-26 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s both,
                       animate-svg-fill-26 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.3s both;
          animation: animate-svg-stroke-26 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s both,
               animate-svg-fill-26 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.3s both;
}

@-webkit-keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 88.57333374023438px;
    stroke-dasharray: 88.57333374023438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 88.57333374023438px;
  }
}

@keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 88.57333374023438px;
    stroke-dasharray: 88.57333374023438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 88.57333374023438px;
  }
}

@-webkit-keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-stroke-27 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s both,
                       animate-svg-fill-27 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.4000000000000004s both;
          animation: animate-svg-stroke-27 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s both,
               animate-svg-fill-27 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.4000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 61.439971923828125px;
    stroke-dasharray: 61.439971923828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.439971923828125px;
  }
}

@keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 61.439971923828125px;
    stroke-dasharray: 61.439971923828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.439971923828125px;
  }
}

@-webkit-keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-stroke-28 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s both,
                       animate-svg-fill-28 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.5s both;
          animation: animate-svg-stroke-28 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s both,
               animate-svg-fill-28 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.5s both;
}

@-webkit-keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 63.17036056518555px;
    stroke-dasharray: 63.17036056518555px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 63.17036056518555px;
  }
}

@keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 63.17036056518555px;
    stroke-dasharray: 63.17036056518555px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 63.17036056518555px;
  }
}

@-webkit-keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-stroke-29 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s both,
                       animate-svg-fill-29 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.6000000000000005s both;
          animation: animate-svg-stroke-29 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s both,
               animate-svg-fill-29 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.6000000000000005s both;
}

@-webkit-keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 107.3360595703125px;
    stroke-dasharray: 107.3360595703125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 107.3360595703125px;
  }
}

@keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 107.3360595703125px;
    stroke-dasharray: 107.3360595703125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 107.3360595703125px;
  }
}

@-webkit-keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-stroke-30 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s both,
                       animate-svg-fill-30 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.7s both;
          animation: animate-svg-stroke-30 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s both,
               animate-svg-fill-30 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.7s both;
}

@-webkit-keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 59.930477142333984px;
    stroke-dasharray: 59.930477142333984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 59.930477142333984px;
  }
}

@keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 59.930477142333984px;
    stroke-dasharray: 59.930477142333984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 59.930477142333984px;
  }
}

@-webkit-keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-stroke-31 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s both,
                       animate-svg-fill-31 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.8s both;
          animation: animate-svg-stroke-31 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s both,
               animate-svg-fill-31 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.8s both;
}

@-webkit-keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 91.9121322631836px;
    stroke-dasharray: 91.9121322631836px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 91.9121322631836px;
  }
}

@keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 91.9121322631836px;
    stroke-dasharray: 91.9121322631836px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 91.9121322631836px;
  }
}

@-webkit-keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-stroke-32 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s both,
                       animate-svg-fill-32 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.9000000000000004s both;
          animation: animate-svg-stroke-32 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s both,
               animate-svg-fill-32 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.9000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 59.930511474609375px;
    stroke-dasharray: 59.930511474609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 59.930511474609375px;
  }
}

@keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 59.930511474609375px;
    stroke-dasharray: 59.930511474609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 59.930511474609375px;
  }
}

@-webkit-keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-33 {
  -webkit-animation: animate-svg-stroke-33 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s both,
                       animate-svg-fill-33 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4s both;
          animation: animate-svg-stroke-33 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s both,
               animate-svg-fill-33 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4s both;
}

@-webkit-keyframes animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 90.4632339477539px;
    stroke-dasharray: 90.4632339477539px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 90.4632339477539px;
  }
}

@keyframes animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 90.4632339477539px;
    stroke-dasharray: 90.4632339477539px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 90.4632339477539px;
  }
}

@-webkit-keyframes animate-svg-fill-34 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-34 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-34 {
  -webkit-animation: animate-svg-stroke-34 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s both,
                       animate-svg-fill-34 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4.1000000000000005s both;
          animation: animate-svg-stroke-34 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s both,
               animate-svg-fill-34 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4.1000000000000005s both;
}


