@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  top: 0;
  left: 0;
}

img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  overflow: hidden;
}

.rta-primarytext {
  color: #fe4a49;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

.bigp {
  font-size: 1.2rem;
  font-weight: 300;
}

em {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4em;
  margin: 16px 0px 0px 0px;
}

h1 {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0;
}
h2{
  font-size: 3.2rem;
  margin: 0px;
}
h3{
  font-size: 2.4rem;
  margin: 0px;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
h6{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  color: #272727;
  line-height: 2em;
}

.rta-maincontainer {
  display: grid;
  margin: 0px;
  padding: 0px;
}

.rta-blankbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "area-blankbox";
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
.rta-2row10{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  "rta-2row10-10"
  "rta-2row10-90";
  gap: 0px 0px; 
}
.rta-2row10-10{
  grid-area: rta-2row10-10;
}
.rta-2row10-90{
  grid-area: rta-2row10-90;
}

.rta-2col40 {
  display: grid;
  grid-template-columns: 0.5fr 1.1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "rta-2col40-one rta-2col40-two";
  gap: 0px 0px;

}

.rta-2col40-one {
  display: grid;
  grid-area: rta-2col40-one;
  text-align: left;
  align-items: start;
  align-content: start;
  padding: 64px 16px 16px 48px;
}

.rta-2col40-two {
  display: grid;
  grid-area: rta-2col40-two;
  text-align: left;
  align-items: start;
  align-content: start;
  margin-right: 32px;
  max-width: 92%;
  object-fit: cover;
  align-items: stretch;
  align-content: stretch;
}

.rta-2col75 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "area-2col75-one area-2col75-two";
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.rta-2col75-one {
  display: grid;
  grid-area: area-2col75-one;
  height: 99%;
}

.rta-2col75-two {
  display: grid;
  grid-area: area-2col75-two;
  height: 99%;
}

/*mobiles*/
@media screen and (max-width: 480px) {
  em {
    font-size: 1.1em;
  }

  .rta-2col75 {
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-template-areas:
      "area-2col75-one"
      "area-2col75-two";
    height: 100vh;
    gap: 0px 0px;
    overflow-y: scroll;
  }

  .rta-2col75-one {
    max-width: 100%;
    grid-area: area-2col75-one;
  }

  .rta-2col75-two {
    max-width: 100%;
    grid-area: area-2col75-two;

  }
}

/*mobiles to tabs*/
@media only screen and (min-width: 481px) and (max-width: 672px) {
  em {
    font-size: 1.125rem;
  }

  .rta-2col75 {
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    grid-template-areas:
      "area-2col75-one"
      "area-2col75-two";
    max-height: 100vh;
    gap: 0px 0px;
    overflow-y: scroll;
  }

  .rta-2col75-one {
    max-width: 100%;
    grid-area: area-2col75-one;
  }

  .rta-2col75-two {
    max-width: 100%;
    grid-area: area-2col75-two;
  }
}

/*tabs to pc*/
@media only screen and (min-width: 673px) {
  em {
    font-size: 1.25em;
  }

  .rta-2col75 {
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1;
    grid-template-areas:
      "area-2col75-one area-2col75-two";
    max-height: 100vh;
    gap: 0px 0px;
    overflow: hidden;
  }

  .rta-2col75-one {
    max-width: 100%;
    height: 100vh;
    grid-area: area-2col75-one;
  }

  .rta-2col75-two {
    max-width: 100%;
    height: 100vh;
    grid-area: area-2col75-two;
  }
}